.producto-card {
    position: relative;
    width: 220px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: var(--blanco);
    transition: 0.3s ease-in-out;
}

.producto-card:hover {
    transform: scale(1.1);
    filter: saturate(1.2);
}


.producto-card img {
    width: 100%;
    height: 250px;
    background-color: var(--blanco);
    object-fit: cover;
    object-position: center;
    transition: .5s ease-in-out;
}

.producto-card img.blur {
    filter: blur(4px);
}

@media (max-aspect-ratio: 1/1) {
    .producto-card {
        width: 170px;
        height: auto;
    }

    .producto-card img {
        width: 100%;
        height: 200px;
        background-color: var(--blanco);
        object-fit: cover;
        object-position: center;
        border-bottom: 1px solid var(--claro);
        transition: .5s ease-in-out;
    }
}

.producto-nombre {
    white-space: nowrap;
    overflow: hidden;
    max-width: calc(100% - 20px);
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    height: auto;
    padding: 10px 10px;
    color: var(--gris);
    text-align: center;
}

.producto-descripcion {
    padding: 0 10px;
    font-size: 20px;
    text-align: center;
    color: var(--gris);
}

.contenedor-precio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 20px;
    margin-bottom: 5px;
}

.precio-promocion {
    font-size: 14px;
    color: var(--red);
    text-decoration: line-through;
    font-weight: bold;
}

.precio {
    font-size: 16px;
    color: var(--secundario);
    font-weight: bold;
}

.cuadrito-promocion {
    /*poner arriba a la derecha el cuadrito de promocion*/
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--red);
    color: var(--blanco);
    padding: 8px 16px;
    border-radius: 0 0 0 8px;
    font-size: 16px;
    font-weight: 400;

}