.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blanco);
    padding: 20px;
    width: calc(auto - 40px);
    max-width: 95%;
    margin: 20px auto;
    border: 2px solid var(--claro);
    gap: 10px;
}

.card-horizontal {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.imagen-usuario {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border: 2px solid var(--gris);
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dato {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--gris);
}

.icono-boton {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    filter: invert(1);
}

.contenedor-dire-pedidos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.descripcion-boton {
    display: block;
    font-size: 14px;
    margin-left: 12px;
    color: var(--claro);
}