.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr;
    grid-template-areas:
        "SideBar"
        "main";
    height: 100vh;
    background: var(--blanco);
}

.content {
    position: relative;
    grid-area: main;
    overflow-y: auto;
    background-color: var(--blanco);
    height: auto;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contenedor-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
    gap: 50px 40px;
    width: calc(100% - 400px);
}


@media (max-aspect-ratio: 1/1) {
    .contenedor-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        margin: 0;
        gap: 20px 10px;
        width: 100%;
        box-sizing: border-box;
        overflow-y: hidden;
    }
}


@media (min-aspect-ratio: 1/1) {
    .content::-webkit-scrollbar {
        width: .8rem;
        background-color: var(--claro);
    }

    .content::-webkit-scrollbar-thumb {
        width: .8rem;
        background-color: var(--negro);
    }
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--secundario);
    height: 38px;
    color: var(--blanco);
}