.producto-contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    margin: 20px;
    width: 1400px;
    max-width: calc(95% - 80px);
    border-radius: 16px;
    margin-bottom: 50px;
}

@media (max-aspect-ratio: 1/1) {
    .producto-contenedor-principal {
        padding: 5px;
        margin: 20px 0;
        max-width: calc(99% - 20px);
        margin-bottom: 200px;
    }
}

.producto-imagenes-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    max-width: 100%;
    padding: 15px 10px;
    background-color: var(--negro);
    position: relative;
}

.producto-imagenes-peque-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(25% - 10px);
    gap: 10px;
}

.imagen-pequena {
    width: 120px;
    height: 150px;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    outline: 2px solid transparent;
    background-color: var(--blanco);
    transition: 0.3s ease-in-out;
}

.imagen-pequena:hover {
    transform: scale(1.02);
}


.imagen-principal {
    width: 450px;
    height: 550px;
    object-fit: cover;
    object-position: center;
    background-color: var(--blanco);
    transition: .3s ease-in-out;
}

.imagen-principal:hover {
    transform: scale(1.02);
    filter: saturate(1.2);
}

@media (max-aspect-ratio: 1/1) {
    .producto-imagenes-contenedor {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
        height: auto;
    }

    .producto-imagenes-peque-contenedor {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 98%;
        max-width: 95%;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .imagen-pequena {
        width: 33%;
        height: 130px;
    }

    .imagen-principal {
        width: 98%;
        height: 350px;
        object-position: center;
        background-color: var(--blanco);
        transition: .3s ease-in-out;
        margin-bottom: 10px;
    }
}

.producto-descripcion-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.producto-nombre-desc {
    font-size: 36px;
    color: var(--gris);
    margin: 0;
    margin-top: 20px;
}

.precio-promocion-desc {
    font-size: 18px;
    color: var(--red);
    text-decoration: line-through;
    font-weight: bold;
}

.precio-desc {
    font-size: 26px;
    color: var(--secundario);
    font-weight: bold;
}

.producto-descripcion {
    font-size: 16px;
    color: var(--gris);
    padding: 0;
    text-align: left;
}

.tallas {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 5px;
}

.talla {
    padding: 10px;
    outline: 2px solid var(--gris);
    color: var(--gris);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
}

.talla-sin-stock {
    padding: 10px;
    outline: 2px solid var(--gris);
    color: var(--gris);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
}

.talla:hover {
    outline: 2px solid var(--secundario);
}

.talla-seleccionada {
    background-color: var(--secundario);
    color: var(--blanco);
    outline: 2px solid var(--secundario);
}

.talla-seleccionada:hover {
    filter: saturate(3);
}

.icono-carrito {
    width: 20px;
    filter: invert(1);
    margin-right: 10px;
}

.cantidad {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.boton-cantidad {
    background-color: var(--secundario);
    color: var(--blanco);
    width: 30px;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
    transition: 0.3s ease-in-out;
}

.boton-cantidad:hover {
    filter: saturate(3);
}

.cantidad-numero {
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}