.producto-contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    margin: 20px;
    width: 1400px;
    max-width: calc(95% - 80px);
    border-radius: 16px;
    margin-bottom: 50px;
}

@media (max-aspect-ratio: 1/1) {
    .producto-contenedor-principal {
        padding: 5px;
        margin: 20px 0;
        max-width: calc(99% - 20px);
        margin-bottom: 200px;
    }
}

.producto-imagenes-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    max-width: 100%;
    padding: 15px 10px;
    background-color: var(--negro);
    position: relative;
}

.producto-imagenes-peque-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: calc(25% - 10px);
    gap: 10px;
}

.imagen-pequena {
    cursor: pointer;
    width: 100%;
    outline: 2px solid transparent;
    background-color: var(--blanco);
    transition: 0.3s ease-in-out;
}

.imagen-pequena:hover {
    transform: scale(1.02);
}


.imagen-principal {
    max-width: calc(75% - 10px);
    width: 500px;
    height: auto;
    object-fit: cover;
    object-position: center;
    background-color: var(--blanco);
    transition: .3s ease-in-out;
}

.imagen-principal:hover {
    transform: scale(1.02);
}

.producto-descripcion-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    max-width: 100%;
}

.producto-nombre {
    font-size: 28px;
    font-weight: bold;
    color: var(--negro);
}

.producto-precio {
    font-size: 20px;
    color: var(--primario);
}

.producto-descripcion {
    font-size: 16px;
    color: var(--gris);
}

.tallas {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.talla {
    padding: 10px;
    outline: 2px solid var(--gris);
    color: var(--gris);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 4px;
}

.talla:hover {
    outline: 2px solid var(--secundario);
}

.talla-seleccionada {
    background-color: var(--secundario);
    color: white;
    outline: 2px solid var(--secundario);
}