.sidebar {
    grid-area: SideBar;
    background-color: var(--negro);
    position: sticky;
    max-width: 100%;
    overflow: hidden;
}

.logo-title {
    max-width: 100px;
}

.sidebar-logo {
    filter: invert(1);
    height: 2rem;
}

.sidebar-titulo {
    font-size: 24px;
    color: var(--blanco);
    font-weight: bold;
}

.sidebar-search {
    outline: none;
    border: none;
    width: 500px;
    max-width: 40%;
    padding: 10px 16px;
    background-color: var(--negro);
    color: var(--gris);
    border-bottom: 2px solid var(--gris);
    font-size: 16px;
    transition: .3s ease-in-out;
}

.sidebar-search:hover {
    border-color: var(--blanco);
    color: var(--blanco);
}

.sidebar-search:focus {
    border-color: var(--secundario);
    color: var(--blanco);
}




.sidebar-link {
    padding: 12px 24px;
    max-width: 15%;
    height: calc(80% - 32px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.sidebar-link:hover {
    border-bottom: 2px solid var(--blanco);
}

.sidebar-link-name {
    color: var(--blanco);
    font-size: 1rem;
}

.sidebar-link:hover .sidebar-link-name {
    color: var(--blanco);
}

.active {
    border-radius: 0;
    border-bottom: 2px solid var(--secundario);
}

.sidebar-carrito {
    height: 1.5rem;
    width: auto;
    filter: invert(1);
}