.sidebar {
    grid-area: SideBar;
    background-color: var(--negro);
    position: sticky;
    max-width: 100%;
    overflow: hidden;
}

.logo-title {
    max-width: 150px;
}

.sidebar-logo {
    filter: invert(1);
    height: 2rem;
}

.sidebar-titulo {
    font-size: 1.2rem;
    color: var(--blanco);
    margin-left: 0rem;
}

.sidebar-search {
    outline: none;
    width: 500px;
    max-width: 50%;
    padding: 10px 16px;
    border: 1px solid var(--claro);
    border-radius: 8px;
    font-size: 16px;
    transition: .3s ease-in-out;
}

.sidebar-search:focus {
    border-color: var(--secundario);
}




.sidebar-link {
    padding: 12px 32px;
    max-width: 10%;
    height: calc(80% - 32px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: .3s ease-in-out;
}

.sidebar-link:hover {
    background-color: var(--secundario);
}

.sidebar-link-name {
    color: var(--blanco);
    font-size: 1rem;
}

.sidebar-link:hover .sidebar-link-name {
    color: var(--blanco);
}

.active {
    background-color: var(--secundario);
}