:root {
  --primario: #952bff;
  --gris: rgb(125, 125, 125);
  --secundario: #b29fff;
  --claro: rgb(230, 230, 230);
  --blanco: #ffffff;
  --negro: #333;
  --red: rgb(255, 93, 93);

  --enviada: #ffb8b4;
  --revision: #ffdfb0;
  --atendida: #baffbe;
}

.App {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100%;
}

.version {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: var(--negro);
  color: var(--blanco);
  font-size: 8px;
  font-weight: 600;
  z-index: 999;
  transition: .3s ease-in-out;
}

/*------------------whats----------------------------------*/

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--negro);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: float 2s infinite ease-in-out;
  transition: transform 0.3s;
}

@media (max-aspect-ratio: 1/1) {
  .whatsapp {
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}

.whatsapp:hover {
  transform: scale(1.1);
}

.img-whatsapp {
  width: 70%;
  height: 70%;
  filter: invert(1);
}


.facebook {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--negro);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: float 2s infinite ease-in-out;
  transition: transform 0.3s;
}

@media (max-aspect-ratio: 1/1) {
  .facebook {
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
  }
}

.facebook:hover {
  transform: scale(1.1);
}

.img-facebook {
  width: 70%;
  height: 70%;
  filter: invert(1);
}

/*----------------------animaciones----------------*/
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}


/*quitar la linea de abajo a todos los elementos de la app*/
* {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contenido-componentes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}



.inputs-container {
  background-color: var(--claro);
  padding: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: center;
}

/*-------------BOTONES-------------*/
.boton-primario {
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--primario);
  color: var(--blanco);
  font-size: 14px;
  padding: 10px 16px;
  outline: none;
  border: none;
  outline: 2px solid var(--primario);
  transition: .3s ease-in-out;
}

.boton-primario:hover {
  filter: saturate(1.5);
}

.boton-secundario {
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--blanco);
  color: var(--secundario);
  font-size: 14px;
  padding: 10px 16px;
  outline: none;
  border: none;
  outline: 2px solid var(--secundario);
  transition: .3s ease-in-out;
}

.boton-primario:disabled {
  background-color: var(--secundario);
  color: var(--blanco);
  cursor: not-allowed;
  outline: 2px solid var(--blanco);
}

.boton-secundario:hover {
  filter: saturate(3);
}


/*-------------------input text-------------------------*/

.input-text {
  outline: none;
  border: none;
  background-color: transparent;
  width: calc(100% - 32px);
  margin: 4px 0px;
  padding: 10px 16px;
  background-color: var(--blanco);
  border-bottom: 2px solid var(--gris);
  color: var(--negro);
  font-size: 16px;
  transition: .3s ease-in-out;
}

.input-text:focus {
  border-color: var(--secundario);
}


/*------------------link texto-------------------------*/
.link-texto {
  color: var(--secundario);
}

.link-texto:hover {
  filter: saturate(2);
}

.label-texto {
  color: var(--blanco);

}

.separador {
  width: 100%;
  height: 2px;
  background-color: var(--claro);
  margin: 10px 0;
}

/*-----------------DISTIBUICION CONTENEDORES--------------------------*/

.gap-10px {
  gap: 10px;
}

.flex-wrap-true {
  flex-wrap: wrap;
}

.overflow-auto {
  overflow: auto;
}

.pading-top-bottom-10px {
  padding: 10px 0;
}


.contenedor-horizontal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedor-horizontal-auto {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contenedor-horizontal-extendido {
  width: 100%;
  max-width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.contenedor-horizontal-arriba-centro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.contenedor-horizontal-derecha {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.contenedor-vertical {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-vertical-auto {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-vertical-izquierda-centro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contenedor-vertical-arriba-centro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/*-----------------PAGINATION CSS-----------------*/

.pagination-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-bottom: .3rem;
}

.pagination-button {
  padding: 0 1.2rem;
  font-size: .8rem;
  cursor: pointer;
  background-color: var(--primario);
  color: var(--blanco);
  border: none;
  outline: none;
  border: 2px solid var(--primario);
  white-space: nowrap;
  transition: .3s ease-in-out;
  box-sizing: border-box;
  height: 2.2rem;
}

.pagination-button:hover {
  filter: saturate(2);
}

.pagination-button:disabled {
  background-color: var(--secundario);
  color: var(--blanco);
  cursor: not-allowed;
  border: 2px solid var(--secundario);
  box-sizing: border-box;
}

.pagination-info {
  font-size: 1rem;
  font-weight: 600;
  color: var(--negro);
  margin: .5rem 1rem;
  white-space: nowrap;
}

/*-----------------TABLA CSS-----------------*/
.contenedor-tabla {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  background-color: var(--claro);
  padding: 0rem;
  margin-bottom: .5rem;
  width: 1200px;
  max-width: 90%;
  overflow: auto;
  box-sizing: border-box;
  border: 8px solid var(--claro);
}

.contenedor-tabla::-webkit-scrollbar {
  height: .8rem;
  width: .8rem;
  background-color: transparent;
}

.contenedor-tabla::-webkit-scrollbar-thumb {
  height: .8rem;
  width: .8rem;
  background-color: var(--gris);
  border-radius: 1rem;
}

table {
  width: 100%;
  background-color: var(--gris);
  border-collapse: collapse;
  border-radius: .5rem;
  margin-bottom: .5rem;
}

thead th {
  height: 60px;
  color: var(--blanco);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: var(--negro);
}

tbody td {
  height: 60px;
  color: var(--negro);
  text-align: center;
  font-weight: 400;
  font-size: .9rem;
  box-sizing: border-box;
  min-width: 6rem;
}

tbody tr {
  background-color: var(--blanco);
  transition: background-color .5s ease-in-out;
}

tbody tr:hover {
  background-color: var(--secundario);
}

tbody tr:hover td {
  color: var(--blanco);
}

tbody tr:hover .table-nombre {
  color: var(--secundario);
}

.table-nombre {
  font-weight: 600;
  text-align: left;
  padding-left: 1rem;
  min-width: 13rem;
  position: sticky;
  left: 0;
}

.table-dato-small {
  min-width: 7rem;
}

.table-dato-medium {
  min-width: 10rem;
}

.table-dato-large {
  min-width: 15rem;
}